*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(59, 57, 57);
}
.nav-bar{
    background-color:rgb(20, 20, 20) ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content:flex-end;
}
.nav-items a,li{
    text-decoration: none;
    list-style: none;
}
.nav-item{
    margin-right: 40px;
    font-size: 25px;
}
.logo a{
    text-decoration: none;
}
.logo{
    background-image: url('./logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 55px;
    width: 55px;
    margin-left: 45px;
    cursor: pointer;
}
.nav-item:hover{
    color:#ff6347 ;
}
/* **************styling hero*************** */
.hero{
    background-color: rgb(248, 248, 248);
    color:black;
    display: flex;
}
.right-container{
    background-image: url(./fiver.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    width: 50%;
    height: 100vh;
    padding-top: 5px;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: rgb(5px, 3px, 3px);
    align-self: center;
    /* rotate: -15deg; */
    box-shadow: 5px 5px 10px #888888;
    margin-top: 5px;
    background-color: #f6f2f2;
}
.left-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 59vh;
    padding-top: 170px;
}
.left-container h5{
    color: red;
    font-size: 30px;
}
.left-container h2{
    color:black;
    font-size: 30px;
    font-weight: 700px;
}
.left-container p span{
    margin-left:5px;
    line-height: 1.4em;
    font-weight: 500;
    font-size: 27px;
}
.left-container p {
    margin-left:5px;
    line-height: 1.4em;
    font-weight: 500;
    font-size: 27px;
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
}
